body {
    background:rgb(201, 203, 204);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
    
    
}

#title {
    font-size: 32px;
    text-transform: uppercase;

    
}

a {
text-decoration: underline;
color: #0a0a0a;

}

.profile_pic {
    border: 2px solid rgb(12, 12, 12);
    border-radius: 50%;
}

.fotocode {
    margin-bottom: 15px;
    width: 100%;
}

.subtitle, .post_title {
    color:rgb(13, 13, 14);
    font-size: 25px;
    
} 

.post_title {
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}
.post {
    background: white ;
    padding: 15px;
    border: 3px solid rgb(17, 17, 17) ;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 900px;
    text-align: center;
   
    
}

.post_content {
    margin: 0;
    margin-bottom: 15;

}

.about {
    font-size: 20px;
    padding: 15px;
    margin: 0;
    margin-bottom: -2px;
    margin-top: 30px;

}

.list {
      list-style-type: none;
    }

.list li a {
    color: blue;
    padding-left: 15px;
    list-style-type: none;
}